html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#main-content {
  display: flex;
  align-items: center;
  flex-direction: column;

  .building-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .building-tile {
    margin: 12px;
  }
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}